<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <a href="<%= root_path %>">Home</a>
        <div class="header-grower"></div>
        <a href="<%= new_place_path %>" class="call-to-action">Build your place</a>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
